#numeros {
    overflow: hidden;
    position: relative;

    padding-block: 6rem;
}

#numeros .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#numeros header h2 {
    color: #321d18;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

#numeros header h2 span {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#numeros .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

#numeros .borderCard {
    width: 100%;
    background: linear-gradient(130deg, #D3BEB9, #e7dad5 30%);
    padding: .2rem;
    border-radius: 1.2rem;
}

#numeros .card {
    position: relative;
    width: 100%;
    padding: 2rem;
    padding-top: 4rem;
    border-radius: 1rem;

    background: #f4f2ee;
    box-shadow: inset 16px 16px 32px #edebe7,
            inset -16px -16px 32px #fbf9f5;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#numeros .card h3 {
    background: var(--gradient);
    color: #321d18;
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem 2rem;
    border-radius: 0 0 1rem 1rem;

    position: absolute;
    top: -11%;
}

#numeros .card p {
    font-size: 1.4rem;
    color: #321d18;
    text-align: left;
}

#numeros .card p span {
    color: #321d18;
    font-weight: 800;
}

#numeros a {
    width: 100%;
}

#numeros a button {
    margin-top: 2rem;
}

#numeros .video {
    margin-top: 2rem;
}

#numeros video {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

#numeros .video iframe {
    width: 100%;
    height: 100%;
    border-radius: 2rem;

    aspect-ratio: 9/16;
}

@media (min-width: 1080px) {
    section#numeros {
        padding-inline: 10%;
    }

    section#numeros header h2 {
        font-size: 4rem;

        margin-bottom: 7rem;
    }

    section#numeros .box {
        display: grid;
        grid-template-columns: 3.2fr 1fr;
        gap: 6rem;
    }

    section#numeros .cards {
        align-items: start;

        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    section#numeros .cards .card {
        padding: 4rem;
        padding-top: 5rem;
    }

    section#numeros .cards .card h3 {
        font-size: 2.5rem;
    }

    section#numeros .cards .card p {
        font-size: 1.4rem;
    }

    section#numeros .video {
        margin-top: 0;
    }
    
    section#numeros video {
        width: 75%;
    }

    section#numeros .video iframe {
        aspect-ratio: initial;
    }

    section#numeros a {
        width: initial;

        display: none;
    }
}
