#video {
    overflow: hidden;
    position: relative;

    height: 80vh;
}

#video .before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000000a0;
    /* background: #d3beb9a0; */
    z-index: 1;
}

#video video.mobile {
    width: 100%;
    height: 100%;
    aspect-ratio: 9/16;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    filter: brightness(.6);
}

#video video.desktop {
    display: none;
}

#video .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#video header {
    position: relative;
    z-index: 3;
}

#video header h2 {
    color: #fff;
    font-size: 2rem;
}

#video header h2 span {
    font-family: 'Apple Garamond Light', sans-serif;
    font-style: italic;
    font-weight: 200;
    color: var(--primary-color);
    font-size: 3rem;
    line-height: .5;
}

#video header a button {
    margin-top: 2rem;
}

.custom-shape-divider-top-1742927720 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 1;
}

.custom-shape-divider-top-1742927720 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 30px;
}

.custom-shape-divider-top-1742927720 .shape-fill {
    fill: var(--bg-white);
}

.custom-shape-divider-bottom-1743079326 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 1;
}

.custom-shape-divider-bottom-1743079326 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 30px;
}

.custom-shape-divider-bottom-1743079326 .shape-fill {
    fill: var(--bg-white);
}

@media (min-width: 1080px) {
    section#video {
        height: 80vh;
    }

    section#video header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
    }

    section#video header h2 {
        font-size: 3rem;
    }

    section#video header h2 span {
        font-size: 4rem;
    }

    section#video video.mobile {
        display: none;
    }

    section#video video.desktop {
        display: inherit;
        position: absolute;
        width: 120%;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        object-fit: cover;
        z-index: 0;

        filter: brightness(.6);
    }

    .custom-shape-divider-top-1742927720 svg {
        height: 40px;
    }

    .custom-shape-divider-bottom-1743079326 svg {
        height: 40px;
    }
}